# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/BugBusters (Kotlin)/*
!/BugBusters (Kotlin)/task/
/BugBusters (Kotlin)/task/*
!/BugBusters (Kotlin)/task/src
!/BugBusters (Kotlin)/task/result.txt
!/BugBusters (Kotlin)/task/data.txt
